body {
    margin: 0;
}
.container{
    background: repeating-linear-gradient(to top, rgba(250,242,160,0.6) 0%,rgba(91,133,168,0.3) 100%), url("images/noise.png");
    width: 100%;
    height: 100%;
}
img {
  display: block;
  width: 100%;
}
.scene {
    max-width: 650px;
    margin: 0 auto;
}
.seagull1{
    width: 6%;
    opacity: 0.8;
}
.seagull2{
    width: 8%;
}
.seagull3{
    width: 7%;
    margin: 22% 0% 0px 20%;
    opacity: 0.7;
}
.cloud1{
    width: 30%;
    margin: 45% 0px 0px 60%;
}
.cloud2{
    width: 45%;
    margin: 50% 0px 0px 4%;
}
.ship{
    width: 35%;
    margin: 0 auto;
    z-index: -1;
    max-width: 300px;
}
.stars {
    z-index: 1;
    position: absolute;
    text-align: center;
}
.stars li{
    color: black;
    list-style: none;
}
.stars p{
    position: absolute;
    right: 0;
    padding-top: 50px;
    padding-right: 20px;
    font-size: 13px;
}
.stars a{
    position: absolute;
    text-decoration: none;
    width: 150px;
    height: 150px;
    text-align:center;
}
.project{
    float: left;
    color: rgba(250,242,160,1);
}
.hides{
    display: none;
}
.galleryhide{
    display: none;
}
